.senses {

	p {
		margin-top: 1rem;

		&.senses-meaning {
			margin-top: 1.5rem;
		}
	}

	.senses-examples {
		margin-top: 1rem;

		strong {
			margin-bottom: 0.3rem;
			display: inline-block;
		}
	}
}
