.words {
	h1 {
		color: var(--color-primary);
	}

	.container {
		border-top: 1px solid var(--color-contrast-low);

		padding-top: 2rem;
	}

	.word-category {
		font-style: italic;
	}

	.text--subtle {
		font-size: 1rem;
		font-weight: 600;
	}
}


