.word {
	h1 {
		color: var(--color-primary);
	}

	.container {
		border-top: 1px solid var(--color-contrast-low);

		padding-top: 2rem;
	}

	.word-name {
		.text--subtle {
			font-size: var(--text-xs);
			font-weight: 600;
		}
	}
}


